#app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin-top: 10px;
    margin-bottom: 30px;
  }
  
  #comp {
    margin-top: 50px;
  }
  .add {
    margin-top: 30px;
    margin-left: 5%;
    margin-right: 5%;
  }
  
  .input-group.md-form.form-sm.form-1 input {
    border-top-right-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
  }
  .input-group.md-form.form-sm.form-2 input {
    border-top-left-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
    background-color: #7093f3;
  }
  
  .input-group {
    margin-bottom: 10px;
    border-radius: 7px;
    background-color: #7093f3;
    padding: 5px;
  }
  .btn-add-new {
    background-color: #fff;
    color: #000;
  }
  .table {
    border-style: solid;
    border-color: #7093f3;
    cursor: pointer;
  }
  .img {
    width: 50%;
    height: 30%;
  }
  .addnew {
    margin: 20px;
  }
  .search {
    margin: 20px;
    margin-left: -5px;
    width: 72%;
  }
  .title {
    font-size: 25px;
    margin: 20px;
  }
  .done {
    text-decoration: line-through;
  }
  ul{
    list-style: none;
      display: flex;
      justify-content: center
  }
  li{
    padding: 8px 15px;
      background-color: #7093f3;
      border-radius: 5px;
      margin-right: 5px;
  }
  a{
        text-decoration: none !important;
        color: #000;
  }
  .item-title {
    width: 200px;
    word-break: break-all;
  }
  .item-desc {
    width: 400px;
    word-break: break-all;
  }
  .item-date {
    width: 450px;
    word-break: break-all;
  }